body {
  margin: 0px;
  text-align: center;
  background-color: #edf5e1;
  color: #05386b;
}

.container {
  margin: 200px auto 0;
  width: 300px;
  height: 200px;
  padding: 30px;
  background-color: #5cdb95;
}

.heading {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.count {
  height: 100px;
  width: 100px;
  font-size: 50px;
  width: 100%
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 90px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #05386b;
  color: #fff;
  cursor: pointer;
}
